.MuiTableCell-root {
  border-bottom: 1px solid #333 !important;
}

.lessons-timetable {

  &__cell {
    position: relative;
    min-width: 40px !important;
    padding: 0 !important;
    text-align: center !important;
    border: 1px solid #333;
    border-top: none !important;
    border-right: none;
    box-sizing: border-box;
    height: 25px;
    line-height: 40px;

    &-modal {
      position: absolute;
      width: 150px;
      top: 25%;
      left: 50%;
      z-index: 100;

      &--hidden {
        display: none;
      }
    }

    &--border-none {
      border-bottom: none !important;
      background: #000;
      color: #FFF;
      mix-blend-mode: unset;

      & > .lessons-timetable__cell-modal {
        top: 125%;
        z-index: 1000;
      }
    }

    &--grey {
      //background-color: #BDBDBD;
      background-color: #E5F0FF;
    }

    &--padding {
      padding: 5px !important;
    }

    &-time {
      position: absolute;
      top: -17px;
      left: 6px;
    }
  }

  &__lesson-link {
    display: block;
    height: 25px;
    font-size: 24px;
    font-weight: bold;
    line-height: 25px;
    //color: #4caf50;
    &--color-transparent {
      color: rgba(0,0,0,0);
      line-height: unset;
      position: relative;
    }

    &--double-lesson {
      height: 50px;
      line-height: 50px;
    }
  }
}